<div fxLayout="row wrap" class="container" fxLayoutGap="15px">
  <div *ngFor="let restlist of restaurantlist" style="width:22%;"  >
   <a [routerLink]="['/foodList',restlist.id]">
       <mat-card class="example-card">
         <img mat-card-image src="{{restlist.imageUrl}}" width="250px" height="250px" >
           <mat-card-content>
             <p class="card-title">
              {{restlist.name}}
             </p>
             <p>{{restlist.address.street}},{{restlist.address.city}}</p>
           </mat-card-content>
           <mat-card-actions>
             <button mat-button class="category-btn">South Indian</button>
             <button mat-button class="category-btn" style="float:right">North Indian</button>
           </mat-card-actions>
           <mat-card-actions >
               <button mat-raised-button class="rating"  ><mat-icon >star</mat-icon> {{restlist.averageRating}}</button>
               <span style="float:right;margin-top:15px">Rs 200 for 2</span>
             </mat-card-actions>
         </mat-card>
       </a>
   </div>
</div>

