<app-header></app-header>
<div fxLayout="row"
  class="container"
  fxLayout
  fxLayout.xs="column"
  fxLayoutGap="20px"
  fxLayoutGap.xs="0">
      <h3>Restaurants</h3>
      <span fxFlex></span>
      <button mat-raised-button color="primary" style="height: 40px">My Orders</button>
  </div>

  <div fxLayout="row"
  class="container"
  fxLayout
  fxLayout.xs="column"
  fxLayoutGap="20px"
  fxLayoutGap.xs="0">
 <app-restaurantsearch></app-restaurantsearch>

    <span fxFlex></span>
      <app-restaurantsortby></app-restaurantsortby>
  </div>
<app-restaurantlist></app-restaurantlist>