<div fxLayout="row"fxFlex>
  <div fxFlex="20%" class="item item1">
    <img src="assets\images\dosa.jpg"width="250px;"height="200px;"/>
  </div>
  <div fxFlex fxFlexOrder="1">
    <button mat-raised-button>Edit Details</button>
  </div>
  <div fxFlex="70%">
    <h1>Udipi Restaurant</h1>
    <span style="float:left">Opens next at 6pm today</span>
    <p style="clear:both">
    <button mat-button class="category-btn">South Indian</button>
    <button mat-button class="category-btn">North Indian</button>
    </p>
  </div>
</div>
<div fxLayout="row wrap">
  <div fxLayout="column">
    <p>South Indian</p>
    <p>North Indian</p>
    <p>Braeakfast</p>
    <p>Snacks</p>
  </div>
  <div fxLayout="column wrap">
    <mat-card class="example-card">
          <mat-card-content>
            <h3 class="card-title">
              Plain Roast
            </h3>
            <h6>South Indian</h6>
          </mat-card-content>
          <mat-card-content>
              
              <p>INR 200</p>
            </mat-card-content>
          
        </mat-card>
  </div>
</div>